@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.account-address-container{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 9;
}
.account-address-error{
    position: fixed;
    top: 0;
    width: 100%;
    height: 25px;
    background: rgba(255, 0, 0, 0.575);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
    z-index: 9999;
    border-radius: 0 0 10px 10px;
    transition: all 0.3s ease-in-out;
    top: -50px;
    pointer-events: none;
}
.account-address-error-display{
    top: 0px;
}
.account-address-container .manage-address-header{
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 8px #888888;
    position: relative;
}
.account-address-container .manage-address-header h2{
    text-align: center;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}
.account-address-container .manage-address-header .go-back{
    position: absolute;
    text-decoration: none;
    color: black;
    width: 100px;
    top: 50%;
    left: 20px;
    transform: translate(0%,-50%);
    font-family: 'Roboto Condensed', sans-serif;
}
.account-address-container .manage-address-header .go-back span{
    margin-left: 4px;
    font-size: 20px;
    margin-top: -2px;
}
.account-address-container .manage-address-header .go-back .left-fa-icon{
    transform: scale(1.4);
    
}

.account-address-container .add-address-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 4px rgb(161, 161, 161);
    cursor: pointer;
    margin: 20px;
}
.account-address-container .add-address-btn .add-address-btn-icon{
    transform: scale(5);
    box-shadow: 0 0 5px rgb(209, 209, 209);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
}
.account-address-container .add-address-btn:hover .add-address-btn-icon{
    transform: scale(4.7);
}
.account-address-container .add-address{
    display: flex;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.account-address-container .add-address .addresses{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 8px rgb(161, 161, 161);
    border-radius: 10px;
    margin: 20px;
    transition: all 1s ease-in-out;
    position: relative;
    overflow: hidden;
}
.addresses .default-star{
    position: absolute;
    top: 5px;
    right: 8px;
    transform: scale(1.4);
}
.account-address-container .address-details{
    position: absolute;
    top: 0 !important;
    width: 100%;
    height: 80%;
    padding: 12px;
}
.account-address-container .address-details h5{
    font-size: 10px;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}
.account-address-container .address-details h5 span{
    font-size: 11px;
    font-weight: bold;
}
.account-address-container .addresses-cover{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(194, 194, 194, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
.account-address-container .account-address-loading{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 200px;
    pointer-events: none;
}
.addresses-cover button{
    background-color: rgba(41, 41, 41, 0.575);
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}
.addresses-cover button:hover{
    background-color: rgb(41, 41, 41) !important;
}
.account-address-container .addresses-cover .fa-icon{
    transform: scale(1.2);
    margin: 18px;
    cursor: pointer;
}
.account-address-container .addresses-cover .fa-icon-red{
    color: rgba(255, 0, 0, 0.575);
}
.account-address-container .addresses-cover .fa-icon-yellow{
    color: rgba(255, 166, 0,0.575);
}
.account-address-container .addresses-cover .fa-icon-red:hover{
    color: red !important;
}
.account-address-container .addresses-cover .fa-icon-yellow:hover{
    color: rgb(255, 166, 0) !important;
}

.address-input{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: white;
    box-shadow: 0 0 8px rgb(180, 180, 180);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}
 .address-input h3{
    text-align: center;
}
.address-input .address-input-close{
    position: absolute;
    top: -13px;
    right: -3px;
    transform: scale(1.8);
    cursor: pointer;
}
 .address-input button{
    border: 1px solid black;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    background-color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    outline: none;
    position: relative;
    width: 150px;
}
.address-input h2{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    text-align: center;
    font-weight: 500;
}
.display-address-input{
    opacity: 1 !important;
    transform: translate(-50%,-50%);
    pointer-events: all !important;
}
.background-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(156, 156, 156, 0.562);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}
.display-overlay{
    pointer-events: all !important;
    opacity: 1 !important;
}
.background-blur{
    filter: blur(5px);
}
.address-input .add-change-submit-icon{
    width: 100px;
    position: absolute;
    height: 100px;
    top: -32px;
    left:-30px;
    pointer-events: none;
}
.address-input button span{
    transition: all 0.3s ease-in-out;
}
.address-input-button-span{
    font-size: 16px !important;
    margin-left: 10px;
}
.address-input-btn-disable{
    pointer-events: none !important;
}

@media (max-width:600px){
    .account-address-container .manage-address-header .go-back{
        left: 5px;
        top: 13px;
    }
    .account-address-container .manage-address-header h2{
        font-size: 24px;
    }
    .account-address-container .manage-address-header span{
        font-size: 14px !important;
    }
    .account-address-container .manage-address-header .left-fa-icon{
        transform: scale(1.1) !important;
    }
    .account-address-container .add-address .addresses{
        width: 150px;
        height: 150px;
    }
    .account-address-error{
        height: 20px;
        font-size: 12px;
    }
    .addresses-cover button{
        padding: 3px;
        border-radius: 10px;
        font-size: 8px;
        font-weight: 500;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .account-address-container .addresses-cover .fa-icon{
        transform: scale(1);
        margin: 10px;
        cursor: pointer;
    }
    .account-address-container .address-details{
        padding: 5px;
    }
    .account-address-container .address-details h5{
        font-size: 9px;
    }
    .account-address-container .address-details h5 span{
        font-size: 8px;
    }
}