@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.ad-container {
  width: 70%;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.ad-container img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.ad-container button {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-80%, -50%);
  color: white;
  background: rgb(255, 166, 33);
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 519px) {
  .ad-container {
    height: 80px;
    width: 80%;
  }
}
@media (max-width: 300px) {
  .ad-container {
    height: 70px;
  }
}
