@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.bestseller-main-container{
    padding: 10px;
    height: 350px;
    width: 100%;
    position: relative;
}
.bestseller-main-container #bestseller-btn-r,
.bestseller-main-container #bestseller-btn-l{
    border-radius: 4px;
    border: 1px solid rgb(211, 211, 211);
}
.bestseller-main-container #bestseller-btn-r{
    right: 0px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    width: 25px;
}
.bestseller-main-container #bestseller-btn-l{
    left: 20px;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 60px;
    width: 25px;
}
.bestseller-main-container h2{
    padding-bottom: 0px !important;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}
.bestseller-main-container .bestseller-container{
    width: 90%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    --scroll-behavior: smooth;
}
.bestseller-main-container .bestseller-container::-webkit-scrollbar {
    width: 5px;
    height: 5px !important;
  }
  .bestseller-main-container .bestseller-error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .bestseller-main-container .bestseller-loading{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .bestseller-main-container .bestseller-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .bestseller-main-container .bestseller-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .bestseller-main-container .bestseller-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.bestseller-main-container .bestseller-container .best-seller-item-container{
    border-radius: 5px;
    cursor: pointer;
    width: 250px ;
    height: 205px;
    padding: 10px;
    border: 1px solid rgb(196, 196, 196);
    margin: 8px;
    margin-bottom: 25px !important;
}
.bestseller-container .best-seller-item-container img{
    width: 220px;
    height: 160px;
    object-fit: cover;
}
.bestseller-container .best-seller-item-container h4{
    font-size: 16px;
    text-align: left;
    padding: 5px;
    text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
    text-transform: capitalize;
}
@media (max-width: 768px) {
    .bestseller-main-container h2{
        font-size: 20px;
    }
}
@media (max-width:601px){
    .bestseller-main-container{
        padding: 10px;
        height: 280px;
    }
    .bestseller-main-container .bestseller-container .best-seller-item-container{
        width: 160px ;
        height: 150px;
        padding: 5px;
        margin: 5px;
        margin-bottom: 10px !important;
    }
    .bestseller-container .best-seller-item-container img{
        width: 140px;
        height: 115px;
    }
    .bestseller-container .best-seller-item-container h4{
        font-size: 15px;
    }
    .bestseller-main-container #bestseller-btn-r{
        display: none;
    }
    .bestseller-main-container #bestseller-btn-l{
        display: none;
    }
}

@media (max-width:500px){
    .bestseller-main-container h2{
        font-size: 20px;
        padding-bottom: 0px;
        padding-left: 0px !important;
    }
}
@media (max-width:380px){
    .bestseller-main-container h2{
        font-size: 16px !important;
    }
}