@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.fashion-container{
    padding-top: 20px;
    width: 100%;
    height: 100%;
}
.fashion-container .fashion-cover{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.fashion-container .fashion-cover img{
    object-fit: cover;
    width: 80%;
    height: 100%;
    flex: 0.7;
}

.fashion-container .fashion-cover div{
    position: absolute;
    width: 30%;
    height: 250px;
    right: 10%;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.fashion-container .fashion-cover h5{
    font-size: 18px;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
}
.fashion-container .fashion-cover h4{
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: left;
    width: 100%;
}
.fashion-container .top-brands{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.fashion-container .top-brands div {
    width: 200px;
    height: 380px;
    margin: 1rem;
    cursor: pointer;
}
.fashion-container .top-brands div img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}
.fashion-container h2{
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
    margin: 50px 0 20px;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    color: rgb(77, 77, 77);
}
.fashion-container .top-brands div h5{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 16px;
    padding: 8px;
    color: rgb(77, 77, 77);

}
@media (max-width:601px){
    .fashion-container .fashion-cover div{
        bottom: 0;
        width: 80%;
        height: 120px;
        right: 10%;
    }
    .fashion-container .fashion-cover h5{
        font-size: 12px;
        line-height: 20px;
    }
    .fashion-container .fashion-cover h4{
        font-size: 18px;
    }
    .fashion-container .fashion-cover img{
        width: 100%;
        object-fit: cover;
        flex: 1;
    }
    .fashion-container .top-brands div {
        width: 200px;
        height: 250px;
        margin: 0;
    }
    .fashion-container h2{
        font-size: 24px;
    }
    .fashion-container .top-brands div h5{
        font-size: 14px;
    }
}