@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.kids-container{
    padding-top: 20px;
    width: 100%;
    height: 100%;
}
.kids-container .kids-cover{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.kids-container .kids-cover img{
    object-fit: cover;
    width: 80%;
    height: 100%;
    flex: 0.7;
}

.kids-container .kids-cover div{
    position: absolute;
    width: 30%;
    height: 250px;
    right: 10%;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    font-family: 'Righteous', cursive;
}
.kids-container .kids-cover h5{
    font-size: 26px;
}
.kids-container .kids-cover h4{
    font-family: 'Satisfy', cursive;
    text-align: left;
    width: 100%;
}.kids-container .kids-brand-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.kids-container .kids-brand-container .kids-sub-container{
    display: flex;
    width: 240px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}
.kids-brand-container .kids-sub-container div{
    width: 80%;
    height: 80%;
}
.kids-brand-container .kids-sub-container div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.kids-container h2{
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
    margin: 50px 0 20px;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    color: rgb(77, 77, 77);
}
@media (max-width:601px){
    .kids-container .kids-cover div{
        bottom: 0;
        width: 80%;
        height: 120px;
        right: 10%;
    }
    .kids-container .kids-cover h5{
        font-size: 20px;
    }
    .kids-container .kids-cover img{
        width: 100%;
        object-fit: cover;
        flex: 1;
    }
    .kids-container .kids-brand-container .kids-sub-container{
        width: 100px;
        height: 100px;
        margin: 0;
    }
}