@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.laptop-container{
    padding-top: 20px;
    width: 100%;
    height: 100%;
}
.laptop-container .laptop-cover{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.laptop-container .laptop-cover img{
    object-fit: cover;
    width: 80%;
    height: 100%;
    flex: 0.7;
}

.laptop-container .laptop-cover div{
    position: absolute;
    width: 30%;
    height: 250px;
    right: 10%;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.laptop-container .laptop-cover h5{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
.laptop-container .laptop-cover h4{
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 30px;
}
.laptop-brand-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.laptop-brand-container .laptop-brand-sub-container{
    margin: 1rem;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.laptop-brand-container .laptop-brand-sub-container div img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.laptop-container h2{
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
    margin: 50px 0 20px;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    color: rgb(77, 77, 77);
}
@media (max-width:601px){
    .laptop-container .laptop-cover div{
        bottom: 0;
        width: 80%;
        height: 150px;
        right: 10%;
    }
    .laptop-container .laptop-cover h5{
        font-size: 16px;
    }
    .laptop-container .laptop-cover h4{
        font-size: 22px;
    }
    .laptop-container .laptop-cover img{
        width: 100%;
        object-fit: cover;
        flex: 1;
    }
    .laptop-brand-container .laptop-brand-sub-container{
        margin: 0;
        width: 100px;
        height: 100px;
    }
}