.login-container{
    background-color: #343434;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login-container .registration-login-success-loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.548);
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container .registration-login-success-loader .loader{
    transform: scale(1.5);
}
.login-container .registration-login-error{
    margin-bottom: 20px !important;
    background-color: rgba(255, 0, 0, 0.644);
    width: 100%;
    color: white;
    padding: 10px 5px 2px 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid red;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container .registration-login-error .registration-login-error-icon{
    font-size: 20px;
    padding-right: 5px;
    transform: translateY(-4px);
}
.login-container .registration-login-error h5{
    font-weight: 600;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
.login-container .login-sub-container{
    padding: 0 20px;
    width: 90%;
    max-width: 450px;
    height: 400px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 4px rgb(190, 190, 190);

}
.login-container .login-sub-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-container .login-sub-container form button{
    color: white;
    background: red;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}
.login-container .login-sub-container h2{
    font-family: 'Poppins', sans-serif;
    color: #343434;
    font-weight: 600;
    letter-spacing: 4px;
}
.login-container .logo{
    text-decoration: none;
    color: white;
    position: absolute;
    right: 20px;
    top: 15px;
    display: flex;
    align-items: center;
}
.login-container .logo h2{
    font-family: 'Gugi', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: white;
    margin-top: 12px;
    padding-right: 5px;
}
.login-container .dont-have-account{
    font-family: 'Gugi', sans-serif;
    color: rgb(48, 48, 48);
    font-size: 12px;
    padding: 8px;
    font-weight: 500;
}
@media (max-width:500px){
    .login-container .logo{
        top: 10px;
    }
    .login-container .logo h2{
        font-size: 18px;
    }
    .login-container .registration-login-error .registration-login-error-icon{
        font-size: 18px;
    }
    .login-container .registration-login-error h5{
        font-size: 12px;
    }
}