@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.mobile-container{
    padding-top: 20px;
    width: 100%;
    height: 100%;
}
.mobile-container .mobile-cover{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.mobile-container .mobile-cover img{
    object-fit: cover;
    width: 80%;
    height: 100%;
    flex: 0.7;
}

.mobile-container .mobile-cover div{
    position: absolute;
    width: 30%;
    height: 250px;
    right: 10%;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.mobile-container .mobile-cover h5{
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
.mobile-container .mobile-cover h4{
    font-family: 'Lato', sans-serif;
    text-align: left;
    width: 100%;
    font-size: 30px;
}
.mobile-container .mobile-cover span{
    display: block;
    width: 100%;
}
.mobile-container .top-brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.mobile-container .top-brands div{
    width: 230px;
    overflow: hidden;
    height: 230px;
    margin: 1rem;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    transform: scale(1);
    cursor: pointer;
    background-color: white;
}
.mobile-container .top-brands div:hover{
    transform: scale(1.1);
}
.mobile-container .top-brands img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.mobile-container .top-brands h5{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 16px;
    padding: 8px;
    color: rgb(77, 77, 77);
}
.mobile-container h2{
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
    margin: 50px 0 20px;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    color: rgb(77, 77, 77);
}
@media (max-width:601px){
    .mobile-container .mobile-cover div{
        bottom: 0;
        width: 80%;
        height: 120px;
        right: 10%;
    }

    .mobile-container .mobile-cover img{
        width: 100%;
        object-fit: cover;
        flex: 1;
    }
    .mobile-container .mobile-cover h5{
        font-size: 16px;
;
    }
    .mobile-container .mobile-cover h4{
        font-size: 20px;
    }
    .mobile-container .mobile-cover span{
        font-size: 12px;
    }
    .mobile-container .top-brands div {
        width: 150px;
        height: 150px;
        margin: 0;
    }
    .mobile-container h2{
        font-size: 24px;
    }
    .mobile-container .top-brands div h5{
        font-size: 14px;
    }
}