.new-orders-container {
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  height: 420px;
  background-color: white;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  position: relative;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 0 4px rgb(194, 194, 194);
}
.new-orders-admin-container-datas th:last-child {
  position: relative;
}
.new-orders-container .admin-order-anim-icon {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 25px;
}
.new-orders-container div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.new-orders-container .order-filter-header-r {
  display: flex;
  align-items: center;
}
.new-orders-container .order-filter-header-r .refresh-orders {
  margin-right: 15px;
  cursor: pointer;
}
.new-orders-container .admin-orders-errors {
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  color: white;
  padding: 4px;
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  border-radius: 5px;
  z-index: 99;
}
.new-orders-container div:first-child .order-filter {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.new-orders-container div:first-child .order-filter svg {
  color: #343434;
}
.new-orders-container div:first-child .order-filter .order-filter-list {
  position: absolute;
  top: 25px;
  right: 5px;
  background-color: #343434;
  border-radius: 5px;
  color: white;
  width: 100px;
  text-align: center;
  height: 135px;
  opacity: 0;
  overflow: hidden;
  z-index: 99;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.order-filter-list-display {
  opacity: 1 !important;
  pointer-events: all !important;
}
.new-orders-container div:first-child .order-filter .order-filter-list li {
  list-style: none;
  font-size: 10px;
  padding: 6px;
}
.new-orders-container
  div:first-child
  .order-filter
  .order-filter-list
  li:hover {
  background-color: rgb(169, 169, 169);
}
.new-orders-container h1 {
  font-family: "Play", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #343434;
  padding: 10px;
  margin: 0;
}
.new-orders-admin-container-datas {
  overflow: auto;
  width: 100%;
  padding: 10px;
}
.new-orders-admin-container-datas table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.new-orders-admin-container-datas th:first-child {
  width: 5%;
}
.new-orders-admin-container-datas th {
  width: 10%;
  font-size: 12px;
  font-weight: lighter;
  text-align: left;
  border-collapse: collapse;
  height: 60px;
  background-color: rgb(250, 250, 250);
  padding-left: 10px;
  color: rgb(160, 160, 160);

text-overflow: ellipsis; 
overflow: hidden; 
white-space: nowrap;
}
.new-orders-admin-container-datas td {
  font-size: 11px;
  height: 40px;
  padding-left: 10px;
  text-transform: capitalize;
  font-weight: bold;

text-overflow: ellipsis; 
overflow: hidden; 
white-space: nowrap;
}
.new-orders-admin-container-datas td:nth-child(4) span {
  font-size: 8px;
}
.new-orders-admin-container-datas th:nth-child(2) {
  width: 30%;
}
.new-orders-admin-container-datas th:nth-child(3) {
  width: 5%;
}
.new-orders-admin-container-datas td:nth-child(8) span {
  pointer-events: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4px;
  font-weight: lighter;
  display: block;
  width: 60px;
  text-align: center;
}
.new-orders-admin-container-datas td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-orders-admin-container-datas td:last-child span {
  border-radius: 5px;
  display: block;
  width: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 4px;
  font-weight: lighter;
}
.new-orders-container .pagination {
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
}
.new-orders-container .pagination li {
  width: 30px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  background-color: white;
  color: #343434;
  border: 1px solid #343434;
  margin: 0 2px;
  border-radius: 3px;
  font-size: 12px;
}
.selected-page {
  background-color: #343434 !important;
  color: white !important;
}
.new-orders-container .pages {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.new-orders-container .pages .page-nxt-bck {
  border: 1px solid rgb(220, 220, 220);
  outline: none;
  background-color: white;
  color: #343434;
  border-radius: 3px;
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  padding: 0px 4px;
  width: 40px;
  margin: -16px 2px 0px 2px;
}
.next-back-disable {
  background-color: rgb(220, 220, 220) !important;
  color: #eeeeee;
}
.disable-admin-btn {
  pointer-events: none !important;
}
@media (max-width: 601px) {
  .new-orders-container .pagination li {
    width: 25px;
    font-size: 12px;
    margin: 0 1px;
  }

  .new-orders-container .pages .page-nxt-bck {
    padding: 0px 4px;
    width: 35px;
    font-size: 12px;
    margin: -16px 1px 0px 1px;
  }
}
@media (max-width: 401px) {
  .new-orders-container {
    width: 250px;
  }
}
