.orders-container {
  width: 100%;
  height: 100%;
}
.orders-container .order-logo-container {
  color: #222222;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.orders-container .order-logo-container span:first-child {
  font-family: "Gugi", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding-right: 5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.orders-container .order-container-nav {
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0 0 4px rgb(202, 202, 202);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orders-container .order-container-nav .go-back {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  width: 100px;
  font-family: "Roboto Condensed", sans-serif;
}
.orders-container .order-container-nav .go-back span {
  margin-left: 4px;
  font-size: 18px;
}
.orders-container .order-container-nav .go-back .left-fa-icon {
  transform: scale(1.2);
}
.orders-container .order-container-head {
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}
.orders-container .order-container-head h2 {
  font-size: 32px;
  text-align: center;
}
.orders-container .nothing-in-here {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
.orders-container .nothing-in-here h2 {
  color: #747474;
  font-size: 25px;
}
.orders-container .nothing-in-here button {
  border: none;
  color: white;
  outline: none;
  background: red;
  padding: 5px 8px;
  font-size: 18px;
  border-radius: 2px;
  margin-top: 5px;
  cursor: pointer;
}
.orders-container .display-error-page {
  width: 100%;
  height: 400px;
}
.orders-container .display-server-anim {
  width: 100%;
  height: 100%;
}
.orders-container .display-error-page p {
  text-align: center;
}
.orders-container .display-error-page button {
  padding: 5px 8px;
  background-color: white;
  outline: none;
  font-size: 25px;
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
  border: 2px solid black;
}
.orders-container .display-error-page button span {
  color: red;
}
.orders-container .orders-loading .server-loading-anim {
  width: 100%;
  height: 160px;
}

.orders-container .each-order-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.orders-container .order-details {
  padding: 10px;
}

.orders-container .each-order-container div:first-child {
  flex: 0.1;
  height: 150px;
  overflow: hidden;
  flex: 0.2;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(226, 226, 226);
}
.orders-container .each-order-container div:first-child img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.orders-container .each-order-container div:nth-child(2) span {
  font-size: 14px;
  font-weight: 600;
}
.orders-container .each-order-container div:last-child {
  display: flex;
  flex-direction: column;
  flex: 0.2;
}
.orders-container .each-order-container div:last-child button {
  outline: none;
  border: 1px solid black;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
  margin: 5px;
  padding: 2px;
}
.orders-container .each-order-container div:nth-child(2) {
  pointer-events: none;
  flex: 0.3;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 10px;
}
.orders-container .each-order-container div:nth-child(2) h5 {
  font-size: 15px;
  margin: 0;
  text-transform: capitalize;
}
.orders-container .each-order-container div:nth-child(3) {
  pointer-events: none;
  flex: 0.4;
  font-family: "Roboto Condensed", sans-serif;
}
.orders-container .each-order-container div:nth-child(3) span {
  font-weight: 600;
  font-size: 14px;
}
.orders-container .each-order-container div:nth-child(3) h5 {
  font-size: 14px;
}
.orders-container .each-order-container div:last-child button:hover {
  background-color: black;
  color: white;
}
.orders-container .each-order-container div:last-child button:last-child:hover {
  background-color: red;
  color: white;
  border: 1px solid red;
}
.orders-container
  .order-details-sub-container
  .order-details-sub-container-header {
  padding: 8px 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(243, 243, 243);
}
.orders-container
  .order-details-sub-container
  .order-details-sub-container-header
  h5 {
  margin: 0;
  font-size: 10px;
  text-align: right;
}
.orders-container
  .order-details-sub-container
  .order-details-sub-container-header
  span {
  font-size: 12px;
  font-weight: bold;
}
.orders-container .order-details-sub-container {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
  overflow: hidden;
}
.orders-container .each-order-details {
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
  height: 0;
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.each-order-details-visible {
  height: 200px !important;
}
.orders-container .each-order-details .order-head {
  font-weight: 600;
  font-size: 14px;
}
.orders-container .each-order-details .order-details {
  font-size: 12px;
}
.orders-container .each-order-details .order-head-light {
  font-size: 12px;
}
.orders-container .each-order-details .order-head-bold {
  font-size: 15px;
  font-weight: bold;
}
.orders-container .each-order-details div:first-child {
  width: 200px;
  max-width: 200px;
}
.orders-container .each-order-details div:first-child h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.orders-container .each-order-details div:nth-child(2) h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.orders-container .each-order-tracking {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.tracking-visible {
  height: 120px !important;
}
.orders-container .each-order-tracking ul {
  width: 100%;
  font-weight: bold;
  list-style: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Roboto Condensed", sans-serif;
}
.orders-container .each-order-tracking ul li .faCircle {
  font-size: 25px !important;
  z-index: 999;
  position: relative;
  color: rgb(202, 202, 202);
}
.orders-container .each-order-tracking ul li {
  position: relative;
  width: 25%;
  text-align: center;
}
.orders-container .each-order-tracking ul li p {
  margin: 15px 0;
  color: rgb(202, 202, 202);
}
.orders-container .each-order-tracking ul li::after {
  content: "";
  width: 100%;
  z-index: 9;
  left: 50%;
  bottom: 14px;
  position: absolute;
  height: 2px;
  background-color: rgb(202, 202, 202);
  transition: all 1s ease-in-out;
}

.orders-container .each-order-tracking ul li span {
  width: 100%;
  position: absolute;
  height: 2px;
  left: 50%;
  bottom: 14px;
  z-index: 99;
  background-color: green;
  transition: all 0.7s ease-in-out;
}

.orders-container .each-order-tracking ul li:last-child::after {
  content: "" !important;
  height: 0px !important;
}
.track-color-visible {
  color: green !important;
}
.orders-container .each-order-tracking ul li :first-child::after {
  background-color: green;
}
.orders-container .cancellation-handle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(243, 243, 243, 0.604);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 9999;
}
.orders-container .cancellation-handle .cancellation-sub-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 400px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(208, 208, 208);
}
.cancellation-display {
  opacity: 1 !important;
  pointer-events: all !important;
}
.orders-container
  .cancellation-handle
  .cancellation-sub-container
  .cancel-btn-container {
  display: flex;
  justify-content: space-around;
}
.orders-container .cancellation-handle .cancellation-sub-container button {
  border: 1px solid black;
  outline: none;
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
  width: 100px;
  padding: 2px 4px;
}
.orders-container
  .cancellation-handle
  .cancellation-sub-container
  button:first-child {
  border: 1px solid red;
  outline: none;
  color: white;
  background-color: red;
}
.orders-container .cancellation-handle .cancellation-error {
  top: -50px;
  width: 100%;
  position: absolute;
  background-color: red;
  color: white;
  padding: 4px;
  font-size: 14px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.cancellation-btn-disable {
  background-color: rgba(208, 208, 208, 0.782) !important;
  border: 1px solid rgba(208, 208, 208, 0.782) !important;
  color: rgb(67, 67, 67) !important;
}
.cancellation-error-display {
  top: 0 !important;
  opacity: 1 !important;
}
.cancellation-sub-container .cancel-loading-anim {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.orders-container .cancellation-sub-container .cancellation-reason {
  font-family: "Roboto Condensed", sans-serif;
  padding: 20px;
}
.orders-container .cancellation-sub-container .cancellation-reason h2 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  pointer-events: none;
}
.orders-container .cancellation-sub-container .cancellation-reason h5 {
  font-size: 16px;
  pointer-events: none;
  margin-bottom: 10px;
}
.orders-container .cancellation-sub-container .cancellation-reason select {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  height: 30px;
  outline: none;
  border: 1px solid black;
}
.orders-container .cancellation-sub-container .cancellation-reason textarea {
  width: 100%;
  height: 80px;
  resize: none;
  outline: none;
  padding: 4px;
  border: 1px solid black;
}
.orders-container .cancellation-sub-container .cancel-loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(243, 243, 243, 0.604);
}
@media (max-width: 601px) {
  .orders-container .order-logo-container span:first-child {
    font-size: 18px;
  }
  .orders-container .order-container-nav .go-back span {
    margin-left: 2px;
    font-size: 14px;
  }
  .orders-container .order-container-nav .go-back .left-fa-icon {
    transform: scale(0.8);
  }
  .orders-container .order-container-head h2 {
    font-size: 22px;
  }
  .orders-container .nothing-in-here h2 {
    font-size: 18px;
  }
  .orders-container .nothing-in-here button {
    font-size: 14px;
  }
  .orders-container .display-error-page button {
    font-size: 18px;
  }
  .orders-container .orders-loading .server-loading-anim {
    width: 100%;
    height: 100px;
  }
  .orders-container .each-order-container {
    flex-direction: column;
  }
  .orders-container .each-order-container div:last-child {
    display: flex;
    flex-direction: column;
    flex: 0.8;
  }
  .orders-container .each-order-container div:nth-child(2),
  .orders-container .each-order-container div:nth-child(3) {
    width: 100%;
    padding: 0;
  }
  .orders-container .each-order-container div:last-child {
    width: 80%;
  }
  .orders-container .each-order-details {
    flex-direction: column;
    align-items: flex-start;
  }
  .each-order-details-visible {
    height: 260px !important;
  }
  .orders-container .each-order-tracking ul li .faCircle {
    font-size: 18px !important;
  }
  .orders-container .each-order-tracking ul li p {
    font-size: 10px;
  }
  .orders-container .each-order-tracking {
    width: 90%;
  }
  .orders-container .each-order-tracking ul li::after {
    bottom: 12px;
  }

  .orders-container .each-order-tracking ul li span {
    bottom: 12px;
  }
}
