@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.product-search-container{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.product-search-container .product-filter{
    width: 220px;
    box-shadow: 0 0 8px rgb(213, 213, 213);
    position: sticky;
    top: 90px;
    left: 0;
    height: 88vh;
    padding: 10px 0px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
}

.product-search-container .search-details{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
}
.product-search-container .search-details-sub{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.product-search-container .search-details .each-search .search-image{
    width: 230px;
    height: 200px;
    margin: auto;
    overflow: hidden;
}
.product-search-container .search-details .each-search img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.product-search-container .search-details .each-search:hover img{
    transform: scale(1.1);
}
.product-search-container .search-details .each-search{
    width: 250px;
    height: 330px;
    padding: 10px;
    box-shadow: 0 0 4px rgb(216, 216, 216);
    cursor: pointer;
    margin: 10px;
    transition: all 0.4s ease-in-out;
    position: relative;
}
.product-search-container .search-details .each-search .product-is-trending{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: orangered;
    color: white;
    padding: 2px;
    border-radius: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 9;
    font-size: 12px;
}
.product-search-container .search-details .each-search h5{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 47px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.2;
    padding-top: 10px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
}
.product-search-container .search-details .star-rating{
    width: 100%;
    height: 30px;
    display: flex;
    position: relative;
}
.product-search-container .search-details .star-rating span{
    position: absolute;
    left: 84px;
    top: 54%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    transform: translate(-50%,-50%);
}
.product-search-container .search-details h4 span{
    font-size: 15px;
}
.product-search-container .search-details h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.product-search-container .search-loading{
    width: 200px;
    margin: auto;
    opacity: 0.7;
}
.product-search-container .server-error,.product-search-container .search-empty{
    margin-top: 100px !important;
    width: 250px;
    margin: auto;
    opacity: 0.7;
}
.product-search-container h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
    pointer-events: none;
}
.product-search-container .product-filter .toggle-icon{
    position: absolute;
    width: 30px;
    background-color: #343434;
    height: 100%;
    right: 0%;
    top: 0;
    transform: translate(0%,0%) rotate(0deg);
    display: none; 
    cursor: pointer;
    pointer-events: none;
}
.toggle-icon-rotate{
    transform: rotate(180deg) !important;

}
.product-search-container .product-filter .toggle-icon svg{
    font-size: 25px;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(0%,-50%);
    color: white;
}
.product-search-container .search-details h5:first-child{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    font-size: 16px;
}
.product-search-container .search-details h5:first-child span{
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
}
.product-search-container .product-filter .price-range{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #cacaca;
    padding: 8px;
}
.product-search-container .product-filter .price-range h2{
    font-family: 'Roboto Condensed', sans-serif;
    width: 100px;
    padding: 8px 2px;
    background-color: #343434;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px !important;
}
.product-search-container .product-filter .price-range h2 span{
    font-size: 12px;
}
.product-search-container .product-filter .price-range input{
    width: 100%;
}
.product-search-container .product-filter .price-range .price-range-values{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.product-search-container .product-filter .price-range .price-range-values h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.product-search-container .product-filter .price-range .price-range-values h4 span{
    font-size: 12px;
}
.product-search-container .product-filter .filter-head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 5px 10px 5px;
    border-bottom: 1px solid #cacaca;
}
.product-search-container .product-filter .filter-head h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    margin: 0;
    padding-left: 10px;
    font-weight: 600;
    text-align: left;
    width: 100%;
}
.product-search-container .product-filter h5{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    margin: 0;
    color: rgb(73, 73, 73);
    width: 100%;
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px !important;
}
.product-search-container .product-filter .filter-rating-container{
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #cacaca;
}
.product-search-container .product-filter .filter-rating-container .filter-rating{
    width: 100%;
    height: 30px;
    margin-bottom: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.product-search-container .product-filter .filter-rating-container .filter-rating span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}
.product-search-container .new-deals-container,
.product-search-container .out-of-stock-container{
    border-bottom: 1px solid #cacaca;   
    padding: 10px;
}
.product-search-container .new-deals-container label,
.product-search-container .out-of-stock-container label{
    padding-left: 4px;
    color: #343434;
    font-size: 14px;
    margin: 0;
}
.product-search-container .filter-disp-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.product-search-container .filter-disp-container .each-filter-disp{
    margin: 4px 6px;
    padding: 2px 5px;
    background-color: #343434;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.product-search-container .filter-disp-container .each-filter-disp span{
    padding: 0 4px;
    font-size: 14px;
    pointer-events: none;
}
.product-search-container .filter-disp-container .each-filter-disp button{
    outline: none;
    border: none;
    color: #343434;
    background-color: white;
    font-size: 12px;
    width:16px;
    height: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
}
.product-search-container .each-search .not-available{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.575);
}
.product-search-container .each-search .not-available span{
    background-color: white;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    color: red;
    transform: translate(-50%,-50%);
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
    font-weight: 600;
}


.product-search-container .price-range input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  .product-search-container .price-range input[type=range]:focus {
    outline: none;
  }
  .product-search-container .price-range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #343434;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  .product-search-container .price-range input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  .product-search-container .price-range input[type=range]:focus::-webkit-slider-runnable-track {
    background: #343434;
  }
  .product-search-container .price-range input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #343434;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  .product-search-container .price-range input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  .product-search-container .price-range input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-radius: 50%;
    color: transparent;
  }
  .product-search-container .price-range input[type=range]::-ms-fill-lower {
    background: #343434;
    border: 0.2px solid #010101;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  .product-search-container .price-range input[type=range]::-ms-fill-upper {
    background: #343434;
    border: 0.2px solid #010101;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  .product-search-container .price-range input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  .product-search-container .price-range input[type=range]:focus::-ms-fill-lower {
    background: #343434;
  }
  .product-search-container .price-range input[type=range]:focus::-ms-fill-upper {
    background: #343434;
  }
.product-filter .filter-loading{
    width: 100px;
    height: 200px;
    margin-top: 20px;
    margin: auto;
}
 .product-search-container .search-pagination{
     display: flex;
     width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 80px;
 }
 .product-search-container .search-details-wrap{
     width: 100%;
 }
 .product-search-container .search-pagination .search-page-cont button{
    border: none;
    outline: none;
    width: 60px;
    padding: 4px 0;
    border-radius: 4px;
    margin: 0 6px;
}

 .product-search-container .search-pagination .pagination{
     margin-top: 15px !important;
 }
 .product-search-container .search-pagination .pagination li{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     text-align: center;
     border-radius: 50%;
     cursor: pointer;
     background-color: rgb(235, 235, 235);
     margin: 0 3px;
     font-weight: 600;
 }
 .product-search-container .search-pagination .page-nxt-bck{
     font-weight: 600;
 }
 .product-search-container #search-filter-reset{
    background-color: #343434;
    border: 1px solid #343434;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    font-family: 'Roboto Condensed', sans-serif;
 }
@media (max-width:651px){
    .product-search-container .search-details-sub{
        justify-content: center;
    }
    .product-search-container .each-search .not-available span{
        padding: 5px 0;
        font-size: 16px;
    }
    .product-search-container .search-details .each-search .product-is-trending{
        padding: 2px;
        border-radius: 4px;
        font-size: 10px;
    }
    .product-search-container .search-details h5:first-child{
        font-size: 12px;
    }
    .product-search-container .search-details h5:first-child span{
        font-size: 16px;
        padding-left: 2px;
    }
    .product-search-container .search-details{
        width: 95%;
        padding-left: 30px;
    }
    .product-search-container .product-filter .toggle-icon{
        display:  block !important;
        pointer-events: all !important;   
    }
    .product-search-container .product-filter{
        width: 25px;
        top: 70px;
        height: 96vh;
        padding: 5px 3px;
        position: fixed !important;
        overflow: hidden;
    }
    .product-search-container .product-filter-sub-container{
        width: 0%;
        transition: all 0.14s ease-in;
        opacity: 0;
    }
    .product-filter-sub-container-display{
        width: 90%!important;
        opacity: 1 !important;
    }
    .filter-display{
        width: 100% !important;
    }
    .product-search-container .search-details .each-search{
        width: 130px;
        height: 220px;
        padding: 5px;
        margin: 5px;
    }
    .toggle-each-search{
        width: 80px;
        height: 100px;
    }
    .product-search-container .search-details .each-search .search-image{
        width: 100%;
        height: 120px;
    }
    .product-search-container .search-details .each-search h5{
        height: 30px;
        margin: 0 auto;
        font-size: 12px;
        line-height: 1.2;
        padding-top: 5px;
    }
    .product-search-container .search-details .star-rating span{
       font-size: 10px;
    }
    .product-search-container .search-details h4 span{
        font-size: 12px;
    }
    .product-search-container .search-details h4{
        font-size: 14px;
    }
    .product-search-container .search-details{
        justify-content: center;
    }
    .product-search-container .filter-disp-container .each-filter-disp span{
        padding: 0 2px;
        font-size: 10px;
    }
    .product-search-container .filter-disp-container .each-filter-disp button{
        font-size: 9px;
        width:12px;
        height: 12px;
    }
    .product-search-container .filter-disp-container{
        margin-bottom: 5px;
    }
    .product-search-container .filter-disp-container .each-filter-disp{
        margin: 2px 4px;
        padding:2px 3px;
        border-radius: 10px;
    }
    .product-search-container .search-pagination .search-page-cont button{
        width: 50px;
        font-size: 12px;
    }
    
     .product-search-container .search-pagination .pagination{
         margin-top: 18px !important;
     }
     .product-search-container .search-pagination .pagination li{
        font-size: 10px;
         width: 25px;
         height: 25px;
     }
}