@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.product-related-container {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 10px;
}
.item-container {
  height: 200px;
  overflow: hidden;
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  margin: 0 8px;
  cursor: pointer;
  overflow: hidden;
  width: 200px;
}
.item-container img {
  width: 100%;
  height: 85%;
  object-fit: fill;
}
.item-container h5 {
  text-transform: capitalize;
  height: 15%;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 16px;
  text-align: left;
  text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
  padding: 4px 2px;
  font-family: "Roboto Condensed", sans-serif;
}

.product-related-container .btn-right,
.product-related-container .btn-left {
  padding: 2px;
  height: 80px;
  position: absolute;
  top: 42%;
  border: none;
  outline: none;
  background: rgb(228, 228, 228);
  transform: translate(0, -50%);
  z-index: 9999;
  width: 37px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}
.product-related-container button,
.product-related-container button .btn-lr-icons {
  transition: all 0.2s ease-in-out;
}
.product-related-container button .btn-lr-icons {
  color: rgba(120, 120, 120);
  pointer-events: none;
}
.product-related-container button:hover {
  background: rgb(238, 238, 238);
}
.product-related-container button:hover .btn-lr-icons {
  color: rgb(63, 63, 63);
}
.remove-btn {
  display: none !important;
}
.product-related-container .btn-right {
  right: 0;
}
.product-related-container .btn-left {
  left: 0;
}
.product-related-container .related-skeleton{
  width: 220px;
  height: 190px;
  margin: 5px;
}
.product-related-container .related-skeleton-sub1{
  width: 100%;
  height: 160px;
}
.product-related-container .related-skeleton-sub1{
  width: 100%;
  height: 20px;
}
@media (max-width: 768px) {

  .product-related-container .btn-right,
.product-related-container .btn-left {
  height: 60px;
  width: 20px;
  padding: 2px 6px;
}
.product-related-container button .btn-lr-icons {
  font-size: 20px;
}
}
  @media (max-width: 601px) {
  .product-related-container{
    height: 160px;
  }
  .item-container {
    height: 160px;
  }
  .item-container h5 {
    font-size: 16px;
  }
}
