.admin-settings-container {
  width: 100%;
  height: 100%;
  background: rgb(245, 245, 245);
  font-family: "Oswald", sans-serif;
}
.admin-settings-details-container {
  font-family: "Oswald", sans-serif;
  width: 220px;
  max-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0 10px 0;
  position: relative;
  margin-bottom: 20px;
}
.admin-settings-img-cont {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.admin-settings-img-cont .admin-settings-img-cont-sub {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.admin-settings-img-cont img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.admin-settings-details-container h1 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0;
  padding: 10px 10px;
  letter-spacing: 1px;
  text-align: center;
}
.admin-settings-details-container h2 {
  font-size: 14px;
  margin: 0;
  color: rgb(84, 84, 84);
  text-align: center;
}
.admin-settings-image-logo #image-input {
  display: none;
}
.admin-settings-image-logo {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.admin-settings-image-logo #camera-logo {
  color: #343434;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  opacity: 0.8;
}
.admin-settings-image-logo:hover #camera-logo {
  font-size: 17px;
}
.admin-settings-details-container span {
  position: absolute;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  color: white;
  padding: 4px;
  background-color: red;
  border-radius: 4px;
  top: 20px;
  right: 0;
}
.admin-settings-input-container {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Oswald", sans-serif;
  margin-bottom: 34px;
}
.admin-settings-input-container label {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  color: gray;
}
.admin-settings-input-container input {
  width: 100%;
  height: 25px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 5px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid gray !important;
  background: none;
}
.admin-settings-input-container h5 {
  position: absolute;
  font-size: 10px;
  color: red;
  bottom: -22px;
}
.admin-settings-input-container input:focus ~ label,
.admin-settings-input-container input:not(:placeholder-shown) ~ label {
  transform: translateY(-18px);
  color: rgb(0, 132, 255);
}
.admin-settings-password-container button {
  background-color: rgb(255, 174, 0);
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
  border: #343434;
  color: #343434;
  font-weight: 600;
  margin-bottom: 20px;
}
.admin-settings-password-container p {
  text-align: center;
}
.admin-settings-password-container h1,
.admin-settings-delete-container h1 {
  color: #343434;
  font-size: 18px;
  margin: 0;
  padding: 20px 10px;
  margin-bottom: 20px;
  color: #a5a5a5;
}
.admin-settings-password-container,
.admin-settings-delete-container {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 0 4px rgb(223, 223, 223);
}
.admin-settings-delete-container button {
  background-color: rgb(255, 0, 0);
  padding: 4px;
  font-size: 15px;
  border-radius: 4px;
  border: white;
  color: white;
  font-weight: 500;
  width: 80px;
  margin-bottom: 20px;
  border: none;
}
.admin-settings-delete-container p {
  text-align: center;
}
.admin-settings-delete-container h4 {
  font-family: "Oswald", sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 14px;
}
.admin-settings-delete-container h5 {
  bottom: 56px;
  left: 5%;
  font-size: 12px;
  position: absolute;
  color: red;
}
.admin-settings-pass-change-loading,
.admin-settings-delete-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.707);
  z-index: 99;
}
.admin-settings-pass-change-loading .loading-anim,
.admin-settings-delete-loading .loading-anim {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}
.admin-settings-password-container .admin-change-server-error {
  font-family: "Oswald", sans-serif;
  color: red;
  text-align: center;
  font-size: 14px;
  margin: 0;
  margin-bottom: 8px !important;
}
.admin-settings-img-cont-sub div:first-child {
  background-color: rgba(255, 255, 255, 0.645);
  position: absolute;
  top: 15px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 9;
  pointer-events: none;
}
