@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

.todays-deal-container {
  margin-top: 20px;
  padding: 10px;
  position: relative;
  height: 360px;
}
.todays-deal-container .todays-deal-error{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.todays-deal-container h2 {
  padding-bottom: 0px !important;
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}
.todays-deal-container .new-deals-load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  pointer-events: none;
  width: 200px;
  height: 100%;
}
.todays-deal-container .item-container {
  cursor: pointer;
  margin-top: 10px !important;
  height: 250px;
  padding: 3px;
  background-color: white;
  border-radius: 10px;
  margin: 0 8px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.todays-deal-container .item-container img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.todays-deal-container .item-container h4 {
  color: #343434;
  font-size: 16px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: left;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
  margin-top: 10px !important;

}
.todays-deal-container .item-container h5 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #5e5e5e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.todays-deal-container .item-container h5 span{
  font-size: 10px !important;
}
.todays-deal-container .item-container:hover img {
  transform: scale(1.015); 
  transform-origin: center;
}
.todays-deal-container .todays-deal-head {
  display: flex;
  align-items: center;
}
.todays-deal-container .todays-deal-head span {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  color: #5e5e5e;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 600;
}

.todays-deal-container .btn-right,
.todays-deal-container .btn-left {
  padding: 2px;
  height: 80px;
  position: absolute;
  top: 42%;
  border: none;
  outline: none;
  background: rgb(228, 228, 228);
  transform: translate(0, -50%);
  z-index: 9999;
  width: 37px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}
.todays-deal-container button,
.todays-deal-container button .btn-lr-icons {
  transition: all 0.2s ease-in-out;
}
.todays-deal-container button .btn-lr-icons {
  color: rgba(120, 120, 120);
  pointer-events: none;
}
.todays-deal-container button:hover {
  background: rgb(238, 238, 238);
}
.todays-deal-container button:hover .btn-lr-icons {
  color: rgb(63, 63, 63);
}
.remove-btn {
  display: none !important;
}
.todays-deal-container .btn-right {
  right: 0;
}
.todays-deal-container .btn-left {
  left: 0;
}
.todays-deal-container .time-gen-container {
  font-size: 14px;
}
.todays-deal-container .time-gen-container span{
  font-size: 14px;
  padding-left: 4px;
}
@media (max-width: 768px) {
  .todays-deal-container .time-gen-container {
    font-size: 10px !important;
  }
  .todays-deal-container .time-gen-container span{
    font-size: 10px !important;
  }  
  .todays-deal-container .btn-right,
.todays-deal-container .btn-left {
  height: 60px;
  width: 20px;
  padding: 2px 6px;
}
.todays-deal-container button .btn-lr-icons {
  font-size: 20px;
}
  .todays-deal-container {
    height: 290px;
  }
  .todays-deal-container .item-container {
    height: 230px;
  }
  .todays-deal-container .item-container img {
    height: 170px;
  }
  .todays-deal-container .item-container h4 {
    font-size: 15px;
  }
  .todays-deal-container .item-container h5 {
    font-size: 12px;
  }
  .todays-deal-container h2 {
    font-size: 20px;
  }
}
@media (max-width: 380px) {
  .todays-deal-container h2 {
    font-size: 16px;
  }
  .todays-deal-container .todays-deal-head span {
    font-size: 16px;
  }
}
