.trending-admin-container {
  width: 39%;
  min-width: 240px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 4px rgb(194, 194, 194);
}

.trending-admin-container h1 {
  font-family: "Play", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #343434;
  padding-bottom: 15px;
}
.trending-admin-container-datas {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 62%;
}

.trending-admin-container-datas::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.trending-admin-container-datas::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(245, 245, 245);
}

.trending-admin-container-datas::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
}

.trending-admin-container-datas::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.trending-admin-container-datas {
  font-family: "Oswald", sans-serif;
}
.trending-admin-container-datas .trending-data {
  display: flex;
  margin-bottom: 20px;
}
.trending-admin-container-datas .trending-data h4 {
  font-size: 15px;
  margin: 0;
  padding: 0 4px;
  color: #343434;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
}
.trending-header {
  display: flex;
  margin-bottom: 10px;
  background-color: rgb(250, 250, 250);
  padding: 10px 4px;
  border-radius: 5px;
}
.trending-header h5 {
  font-size: 12px;
  color: rgb(160, 160, 160);
  font-weight: lighter;
  font-family: "Oswald", sans-serif;
  margin: 0;
}
.trending-header h5:first-child {
  flex: 0.8;
}
.trending-admin-container-datas .trending-data h4:first-child {
  flex: 0.8;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.trending-admin-container-datas .trending-data h4:last-child {
  flex: 0.2;
  padding-left: 20px;
  white-space: nowrap;
}

.trending-header h5:last-child {
  flex: 0.2;
}
