.users-container {
  width: 39%;
  min-width: 240px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 4px rgb(194, 194, 194);
}

.users-container h1 {
  font-family: "Play", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #343434;
  padding-bottom: 5px;
}
.users-container-datas {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 65%;
}
.users-each-container-datas {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  pointer-events: none;
}
.users-each-container-datas .admin-user-image {
  background-color: rgb(245, 245, 245);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow: hidden;
}
.admin-user-input-search {
  font-family: "Oswald", sans-serif;
  width: 90%;
  height: 30px;
  margin: 10px 0 20px 0;
  color: #343434;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #a5a5a5;
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}
.admin-user-input-search div {
  width: 30px !important;
  height: 100%;
  cursor: pointer;
  color: white;
  text-align: center;
  background-color: #343434;
}
.admin-user-input-search input {
  padding: 5px;
  width: 95%;
  margin-right: 5px;
  border-radius: 4px;
  height: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: rgb(250, 250, 250);
}
.users-each-container-datas div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.users-each-container-datas h5 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 10px;
}
.admin-user-details h4 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  margin-left: 10px;
  color: #a5a5a5;
}
.users-container-datas::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.users-container-datas::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(245, 245, 245);
}

.users-container-datas::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
}

.users-container-datas::-webkit-scrollbar-thumb:hover {
  background: #555;
}
